{
  "singleQuote": true,
  "jsxBracketSameLine": false,
  "bracketSpacing": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "encoding": "utf-8",
  "extensions": [".tsx", ".ts", ".scss", ".js"],
  "endOfLine": "lf"
}
