@import "../../../App/globals";

.count-selector {
  .title {
    font-size: 20px;
    font-weight: 100;
  }

  .list {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 0;

    &-item {
      align-items: center;
      cursor: pointer;
      display: flex;
      justify-content: space-around;
      width: 60px;
    }
  }

  .icon-star {
    height: 30px;
    width: 30px;

    &.selected {
      color: $goldie;
      stroke: #000;
    }
  }
}
