@import "../../../App/globals";

.count-selector {
  .list {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin: 0;

    &-item {
      align-items: center;
      display: flex;
      justify-content: space-around;
      width: 60px;
    }
  }

  .icon-star {
    height: 30px;
    width: 30px;

    &.selected {
      color: $goldy;
      stroke: #000;
    }
  }
}
