@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@515&family=Montserrat&display=swap");

$font-header: "Fira Code", monospace;
$font-text: "Montserrat", sans-serif;

// Colors
$pinky: rgb(243, 27, 214);
